body {
  background-color: yellow
}

#container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #EE2C2C;
  color: #BEBEBE;
  text-align: center;
  font-size: 150%;
  border: 7px solid white;
}

#options {
  text-align: right;
}

#contents {
    padding: 70px 40px 70px 40px;
    border: 7px solid green;
}

#footer {
    border: 8px solid red;
}
