body {
  background-color: #333333
}

#container {
  background-color: #FFD700;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #EE2C2C;
  color: #BEBEBE;
  text-align: center;
  font-size: 150%;
  border: 10px solid white;
}

#contents {
    padding: 70px 40px 70px 40px;
    border: 9px solid green;
}

#footer {
    border: 8px solid red;
}